

<div class="container mt-4 position-relative">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="welcome">
        <h1 class="text-center mb-4 py-3">Welcome, Renter and potential business owner %></h1>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-secondary">Create a Shop</button>
