

<div class="container mt-4 position-relative">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="welcome">
        <h1 class="text-center mb-4 py-3">Welcome, <%= @user.first_name %></h1>
      </div>
    </div>
  </div>
</div>
