
<div class="page-container">
  <div class="head">
   <h1>SimpleRent</h1>
  </div>



  <div class="intro">
    <p>INTRODUCING SimpleRent</p>
    <h4>Explore the world of SimpleRent</h4>
  </div>

  <div class="input-container">
    <input type="text" placeholder="Search">
  </div>



  <%= link_to shops_path, class: "arrow" do %>
      <%= image_tag image_path("right_arrow.png") %>
    <% end %>



</div>
