h3{
  // font-weight: 400;
  color: papayawhip;
  font-family: "Rammetto One";
  font-size: small;
}

p {
  font-family: $body-font;
}
h4 {
  font-family: "Rammetto One";
  font-size: medium;
  color: papayawhip;
}

.welcome{
  font-weight: 700;
  color:#F5C53D;
  font-family: "Rammetto One";
}

.column {
  float: left;
  width: 30%;
  padding: 0 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.row {
  margin: 10px -5px;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #F5C53D;
  color: white;
  height: auto;
  overflow: none;
  border-radius: 4px;
}

// Main
.row-main {
  margin: 10px -5px;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.row-main:after {
  content: "";
  display: table;
  clear: both;
}

.column-main {
  float: left;
  width: 50%;
  padding: 0 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card-main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #F5C53D;
  color: white;
  height: auto;
  overflow: none;
  border-radius: 4px;
}

.upcoming-rental {
  font-family: "Rammetto";
}
@media screen and (max-width: 600px) {
  .column {
    width: 90%;
    display: block;
    margin-bottom: 30px;
  }
}
