* {
  box-sizing:border-box
}

.header-text {
  text-align: center;
}

.container {
  padding: 2rem;
  width: 100%;
  margin: 2rem auto;
  height: auto;
}


.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background: #F5C53D;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: white;
  color: #F5C53D;
  border:1px solid#F5C53D ;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 10px -5px;
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #F5C53D;
  color: white;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
