<h1>Units to choose from</h1>

<ol>
  <% @units.each do |unit| %>
    <li><%= unit.price %></li>
    <li><%= unit.description %></li>
    <%# <li><%= unit.shop.title %></li>
   <%= link_to 'Book this unit', new_shop_unit_booking_path(unit.shop, unit) %>
  <% end %>
</ol>
