#header {
    text-align: center;
    padding: 20px 0;
  }

  .content-container {
    display: flex;
  }

  .left-column {
    width: 50%;
    height: 50%;
    padding-right: 20px;
  }

  body {
    font-family: Rammetto one;
  }

  .right-column {
    width: 50%;
    height: 50%;
  }

  .description-container,
  .welcome-container {
    padding: 20px;
    background-color: #F5C53D;
    margin-bottom: 20px;
  }

  .welcome-container {
    background-color: #F5C53D;
  }

  .units-container {
    background-color: #F5C53D;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
  }

  .unit {
    border-radius: 50%;
    background-color: #ccc;
    padding: 50px;
    width: 400px;
    height: 400px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .unit-card {
    height: 400px;
    width: 400px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 50%;
  }

  .unit-details {
    margin-top: 20px;
  }

  .unit-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .unit-details p {
    font-size: 18px;
    color: #333;
  }

  #shopcard {
    width: 50%;
    height: 50%;
    background-color: grey;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .bookingcard{
    background-color: red;
  }

  .unit-circle {
    width: 380px;
    height: 360px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .unit-description {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .unit-cardtwo {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #F5C53D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  